{%extends 'hello/base.html'%}
{%load staticfiles%}
{%block title%}Login{%endblock%}
{%block style%}
<link href="{%static 'css/addpage.css'%}" rel="stylesheet"/>
{%endblock%}
{%block background%}{%endblock%}
{%block content%}

<form method="post" action = "{%url 'django.contrib.auth.views.login'%}">
  {%csrf_token%}
  <p>{{form.username.label_tag}}</p>
  <p>{{form.username}}</p>
  <p>{{form.password.label_tag}}</p>
  <p>{{form.password}}</p>
  <input type="submit" value="login"/>
  <input type="hidden" name = "next" value="/hello/prehome/"/>
</form>
<p><a href="{%url 'password_reset'%}">Forgot password?</a></p>
{%endblock%}
