{%extends 'app1/base.html'%}
{%block background%}{%endblock%}
{%block title%}Change Password{%endblock%}
{%block content%}
<form method="post" action="{%url 'django.contrib.auth.views.password_change'%}">
  {% csrf_token %}
  <p>{{form.old_password.label_tag}}</p>
  <p>{{form.old_password}}</p><br><hr><br>
  <p>{{form.new_password1.label_tag}}</p>
  <p>{{form.new_password1}}</p><br><hr><br>
  <p>{{form.new_password2.label_tag}}</p>
  <p>{{form.new_password2}}</p>
  <input type="submit" value="Save"/>
</form>
{%endblock%}
