{% load socialaccount %}
{%load staticfiles%}
{%block style%}
<link href="{%static 'css/loginpage.css'%}" rel="stylesheet"/>{%endblock%}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}"
     class="socialaccount_provider {{provider.id}} {{brand.id}}"
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<div id="holdsocial">
{%if provider.id == 'facebook'%}

<div id = "fbb">
  <a id = "fb" title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><span><img src="{%static 'css/fb.jpg'%}" style="width:30px;height:30px;;margin-right:4%;float:left;" alt="fb icon"/></span><span id="text" style="margin-top:4.5%;margin-left:12px;font-family:'Tahoma';">Sign In With Facebook</span></a>
</div>
{%elif provider.id == 'google'%}
<div id="gg">
   <a id = "google" title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><div><img src="{%static 'css/g.jpg'%}" style="width:30px;height:30px;float:left;" alt="google icon"/></div><div id="text" style="text-align: left;margin-top:2.5%; font-family:'roboto medium';font-size:large">Sign In With Google</div></a>
</div>
{%endif%}
 </div>
{% endfor %}
