#heading{
  font-family: helvetica;

  display: inline;

}
#text{
  font-family: helvetica;
  margin-top: 1%;
  display: inline;
  margin-left: .5%;
  border-radius: 2px;
}
input[type=submit]{
  text-align: center;
  font-size: small;
  width: 7.5%;
  height: 1.5%;
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  margin-left: 5%;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=text]:focus {
    border: 2px solid #ccc;
    border-radius: 4px;

}
