#fb:link, #fb:visited {
    font-family: Tahoma ;
    border-style: hidden;
    border-radius: 2px;
    background-color: #3b5998	;
    color: white;
    padding-right:  12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    float:left;
    margin-left: -9.6%;
    margin-top: 2%;
    margin-right: 4%;
    width: 18%;
    border-radius: 2px;

}


#fb:hover, #fb:active {
    background-color: #2b3856	;
}
#text{
  margin-left: 2%;
}

#google:link, #google:visited {
    font-family: Tahoma ;
    border-style: hidden;
    border-radius: 2px;
    background-color: #D32F2F;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float:left;
    margin-left: -2.5%;
    margin-top: 2%;
    margin-right: 2%;
  }
  #google:hover, #google:active {
      background-color: #B71C1C;
  }

#signin{
  font-family: tahoma;
  border-style: hidden;
  border-radius: 2px;
  background-color: #38bf4a ;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-left: .5%;
  margin-top: -.5%;
}
#signin:hover{
  background-color: #257b30;
}
#forgot{
  font-family: tahoma;
  color:blue;
  text-decoration: none;
  float: left;
  margin-left: .5%;
}
#fogrot:visited{
  color:blue;
}

#size{
    font-size: medium;
    font-family: 'Myanmar Text';
    margin-left: .5%;
}
#signininsignup{
    text-decoration: none;
    color:blue;
    font-family: tahoma;
    font-size:inherit;
}
