#fb:link, #fb:visited {
    font-family: Tahoma ;
    border-style: hidden;
    border-radius: 2px;
    background-color: #3b5998	;
    color: white;
    padding-right:  12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    float:left;
    width: 100%;
    border-radius: 2px;
    height: -3%;

}
#fb:hover, #fb:active {
    background-color: #3b59AB	;
}
#text{
  margin-left: 2%;
}
#google:link, #google:visited {
    font-family: Tahoma ;
    border-style: hidden;
    border-radius: 2px;
    background-color: #D84B37 ;
    color: white;
    padding-right:  12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float:left;
    width: 100%;
    height: -3%;
  }

#google:hover, #google:active {
      background-color: #E54B37;
  }

#signin
{
  font-family: tahoma;
  border-style: hidden;
  border-radius: 2px;
  background-color: #38bf4a ;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-left: .5%;
  margin-top: -.5%;
}
#signin:hover{
  background-color: #257b30;
}
#forgot{
  font-family: tahoma;
  color:blue;
  text-decoration: none;
  float: left;
  margin-left: .5%;
}
#fogrot:visited{
  color:blue;
}

#size{
    font-size: medium;
    font-family: 'Myanmar Text';
    margin-left: .5%;
}
#signininsignup{
    text-decoration: none;
    color:blue;
    font-family: tahoma;
    font-size:inherit;
}
#bottomtext{
    font-family: 'Cambria Math';
    float: right;
    margin-top:-1.5%;
    margin-bottom: -1.5%;
    margin-right:2%;
    color: #7e7e7e;
}
#bottomline{
    background-color: #363131;
    height: 20%;
    padding: 2px;
    overflow: hidden;
    margin-left: -8px;
	margin-right: -8px;
}
#fbb{
  float:left;
  margin-left: -2%;
  margin-bottom: 2%;
  margin-top: -1%;
  width: 40%;
  display: block;
}

#gg {
   float:left;
  margin-left: -2%;
  margin-bottom: 2%;
  margin-top: -1%;
  width: 40%;
  display: block;
}
#holdsocial{
    width: 50%;
    height: 20%;
    margin-left: .5%;
    margin-top: 1%;
    float: left;
}