
.wrap{
    list-style-type: none;
    margin-top: -8px;
    margin-left: -16px;
    margin-right: -8.45px;
    padding: 2.5px;
    overflow: hidden;
    background-color: #363131;
}

.top{
    margin-left: -2px;
    display: inline-block;
    color: white;
    background-color: #363131;
    font-family: helvetica;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
}
.top:hover {
    background-color: #111;
}
#headerwrap {
	background: url(../css/e-learning-software.jpg) no-repeat center top;
	margin-top: -16px;
    margin-left: -8px;
	margin-right: -20px;
    padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: fill-available;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#centertext{
    margin-top: 280px;
    font-size: 50px;
    font-family: helveticA;
    text-align: center;
    color: white;
}
.postlogin{
    width: 150px;text-align: center;border-style: hidden;
}
.main
{
    background-color: #eff1f3;
}

.lines{
    color: #939393;
}
#bottomtext{
    font-family: 'Cambria Math';
    float: right;
    margin-top:-1.5%;
    margin-bottom: -1.5%;
    margin-right:2%;
    color: #7e7e7e;
}
#bottomline{
    background-color: #363131;
    height: 20%;
    padding: 2px;
    overflow: hidden;
    margin-left: -8px;
	margin-right: -8px;
}
