{%extends 'hello/base.html'%}
{%load staticfiles%}
{%block background%}{%endblock%}
{%block title%}Homepage-{{block.super}}{%endblock%}
{%block style%}
<link href="{%static 'css/homepagebuttons.css'%}" rel="stylesheet"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
   <script src="/highcharts.js" type="text/javascript"></script>
{%endblock%}
{%block content%}
<div id="mainbody">
<span id="cl-effect-10">
<a data-hover="Add" class="buttons" href="{%url 'add' user.id%}"><span>Add</span></a><br>
<a data-hover="Log" class="buttons" href="{%url 'log' user_pk=user.id%}"><span>Recent</span></a><br>
<a data-hover="Dsiplay" class="buttons" href="{%url 'displayform' user_pk=user.id%}"><span>Display</span></a><br>
<a data-hover="Display Range" class="buttons" href="{%url 'fromandto' user_pk=user.id%}"><span>Display Range</span></a><br>
<a data-hover="Edit" class="buttons" href="{%url 'editform' user_pk=user.id%}"><span>Edit</span></a><br>
<a data-hover="Delete" class="buttons" href="{%url 'deleteform' user_id=user.id%}"><span>Delete</span></a><br>
<a data-hover="Dad! I'm Broke" class="buttons" href="{%url 'generatecsv' user_id=user.id%}"><span>Dad! I'm broke</span></a>
</span>
<span id ="graphcontainer">
   {%load chartit%}
   {{datechart|load_charts:"container"}}
   <span id="container"></span></span>
 </div>
{%endblock%}
