{%extends 'app1/base.html'%}
{%load staticfiles%}
{%block title%}Range display{%endblock%}
{%block style%}
<link href="{%static 'css/editpage.css'%}" rel="stylesheet"/>{%endblock%}
{%block background%}{%endblock%}
{%block content%}
{%if user.is_authenticated%}
<div id="editform">
<span id="heading"><b>GRAND TOTAL</span><span id="text" style="margin-left:8%;">{{grand_total}}</b></span><br><br><hr>
{%if rangedata%}
{%for data in rangedata%}
<span id="heading">Date</span><span id="text" style="margin-left:8%;">{{data.date}}</span><br><br>

<span id="heading">Stuff</span><span  id="text" style="margin-left:8%;">{{data.item}}</span><br><br>

<span id="heading">Description</span><span id="text" style="margin-left:5%;">{{data.description}}</span><br><br>

<span id="heading">Quantity</span><span id="text" style="margin-left:6%;">{{data.quantity}}</span><br><br>

<span id="heading">Price</span><span id="text" style="margin-left:8%;">{{data.price}}</span><br><br>

<span id="heading"><b>Total</span><span id="text" style="margin-left:8%;">{{data.total}}</b></span><br><br><hr><br><br>
{%endfor%}
{%else%}
<p style="font-family:tahoma; margin-left:43%;margin-top:15%;">No Purchase history in this range</p>
{%endif%}
{%endif%}
{%endblock%}
